In [1]:
import pandas as pd

In [64]:
def count_top3(list):
    df_all = []
    for i in list:
        df = pd.read_csv(f'/home/mishanya/names/yob{i}.txt', names=['Names', 'Gender', 'Count'])
        df_all.append(df)
    df_res = pd.concat(df_all)
    df_res = df_res.groupby(['Names', 'Gender']).sum().sort_values('Count', ascending=False).head(3)
    return df_res

In [66]:
count_top3([1880])

                Count
Names   Gender
John    M        9655
William M        9532
Mary    F        7065

In [60]:
def count_dynamics(list):
    df_all = []
    for i in list:
        df = pd.read_csv(f'/home/mishanya/names/yob{i}.txt', names=['Names', 'Gender', 'Count'])
        sum_gender = df.groupby(['Gender']).sum()
        sum_gender['Year'] = f'year{i}'
        df_all.append(sum_gender)
    df_res = pd.concat(df_all)
    return df_res

In [61]:
count_dynamics([1900, 1950, 2000])

          Count      Year
Gender
F        299800  year1900
M        150483  year1900
F       1713151  year1950
M       1790549  year1950
F       1815110  year2000
M       1962969  year2000